@charset "UTF-8";
/* ============================================
VARIABLES
============================================ */
/* ============================================
MIXINS
============================================ */
/* ============================================
FUENTES
    - Titulos: Poppins
    - Párrafos: Source Sans Pro
============================================ */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
/* ============================================
ESTILOS GENERALES
============================================ */
.courtyard h1, .courtyard h2, .courtyard h3, .courtyard h4, .courtyard h5, .courtyard h6, .courtyard .__h2, .courtyard .__h3 {
  font-family: 'Poppins';
  color: #5a5a5a;
}

.courtyard .__h2 {
  font-weight: bold;
  font-size: 22px !important;
  margin: 19px 0 !important;
}

.courtyard .__h3 {
  font-size: 18.5px !important;
}

.courtyard p {
  margin-bottom: 18px !important;
}

.courtyard p, .courtyard small, .courtyard ul, .courtyard li {
  font-family: 'Source Sans Pro';
  font-size: 16.5px !important;
  line-height: 1.4em;
  color: #5a5a5a;
}

.courtyard ul li {
  margin-bottom: 5px;
}

.courtyard [class^="__seccion"] {
  margin-bottom: 20px;
}

/* ============================================
TITULOS CON EMOJI :)
http://www.unicode.org/emoji/charts/full-emoji-list.html
============================================ */
.courtyard .__h2.__emoji.__fire {
  color: orange;
}

.courtyard .__h2.__emoji.__fire::before {
  margin-right: 5px;
  content: "🔥";
}

.courtyard .__h2.__emoji.__movie-camera {
  color: #5a5a5a;
}

.courtyard .__h2.__emoji.__movie-camera::before {
  margin-right: 5px;
  content: "🎬";
}

.courtyard .__h2.__emoji.__rocket {
  color: #5a5a5a;
}

.courtyard .__h2.__emoji.__rocket::before {
  margin-right: 5px;
  content: "🚀";
}

.courtyard .__h2.__emoji.__pushpin {
  color: #5a5a5a;
}

.courtyard .__h2.__emoji.__pushpin::before {
  margin-right: 5px;
  content: "📌";
}

.courtyard .__h2.__emoji.__clapper-board {
  color: #5a5a5a;
}

.courtyard .__h2.__emoji.__clapper-board::before {
  margin-right: 5px;
  content: "🎬";
}

.courtyard .__h2.__emoji.__laptop {
  color: #5a5a5a;
}

.courtyard .__h2.__emoji.__laptop::before {
  margin-right: 5px;
  content: "💻";
}

.courtyard .__h2.__emoji.__light-bulb {
  color: #5a5a5a;
}

.courtyard .__h2.__emoji.__light-bulb::before {
  margin-right: 5px;
  content: "💡";
}

.courtyard .__h2.__emoji.__compass {
  color: #5a5a5a;
}

.courtyard .__h2.__emoji.__compass::before {
  margin-right: 5px;
  content: "🧭";
}

.courtyard .__h2.__emoji.__last-track-button {
  color: #5a5a5a;
}

.courtyard .__h2.__emoji.__last-track-button::before {
  margin-right: 5px;
  content: "⏮";
}

.courtyard .__h2.__emoji.__thinking-face {
  color: #5a5a5a;
}

.courtyard .__h2.__emoji.__thinking-face::before {
  margin-right: 5px;
  content: "🤔";
}

.courtyard .__h2.__emoji.__thumbs-up {
  color: #5a5a5a;
}

.courtyard .__h2.__emoji.__thumbs-up::before {
  margin-right: 5px;
  content: "👍";
}

/* ============================================
SECCIÓN CÓDIGO
    - Titulo <h2>
    - Párrafo <p>
    - Bloque de código (.__wrapper-codigo)
============================================ */
.courtyard .__seccion-codigo .__wrapper-codigo {
  min-height: 50px;
  padding: 10px;
  border-radius: 7px;
  background: #282c34;
  font-size: 14px;
}

/* ============================================
SECCIÓN TARJETAS PROFES
    - Wrapper de tarjeta individual (.)
        - Imagen profe <img>
        - Combo de texto (.__combo-texto)
            - Nombre profe <h3>
            - Bios <p> (desaparece en < 680px)
            - Mail <small>
============================================ */
.courtyard .__seccion-tarjetas .__wrapper-tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E6E6E6;
  border-radius: 7px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.courtyard .__seccion-tarjetas .__wrapper-tarjeta + .__wrapper-tarjeta {
  margin-top: 25px;
}

.courtyard .__seccion-tarjetas .__wrapper-tarjeta img {
  border-radius: 7px 0 0 7px;
  width: 30%;
}

.courtyard .__seccion-tarjetas .__wrapper-tarjeta .__combo-texto {
  width: 70%;
  padding: 20px 30px;
}

.courtyard .__seccion-tarjetas .__wrapper-tarjeta .__combo-texto .__h3 {
  font-weight: normal;
  margin-top: 0;
}

.courtyard .__seccion-tarjetas .__wrapper-tarjeta .__combo-texto p {
  font-size: 16px;
}

.courtyard .__seccion-tarjetas .__wrapper-tarjeta .__combo-texto small {
  font-size: 16px;
  justify-self: flex-end;
}

.courtyard .__seccion-tarjetas .__wrapper-tarjeta:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.18);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.18);
}

@media (max-width: 680px) {
  .courtyard .__seccion-tarjetas .__wrapper-tarjeta .__combo-texto p {
    display: none !important;
  }
}

/* ============================================
SECCIÓN LISTADO DE CHECKS
    - Lista desordenada <ul>
        - Items <li>
============================================ */
.courtyard .__seccion-check ul {
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
  list-style-type: none;
  position: relative;
}

.courtyard .__seccion-check ul li::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: -1px;
  left: 0;
  background-image: url("../img/checkmark-outline.svg");
  background-size: 100%;
}

/* ============================================
SECCIÓN DOS COLUMNAS
    - Columna izquierda <div>
        - Título <h3>
        - Párrafo <p>
    - Columna derecha <div>
        - Título <h3>
        - Párrafo <p>
============================================ */
.courtyard .__seccion-dos-columnas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courtyard .__seccion-dos-columnas .__h2 {
  display: block;
  width: 100%;
}

.courtyard .__seccion-dos-columnas .__d-block-100 {
  display: block;
  width: 100%;
}

.courtyard .__seccion-dos-columnas .__columna {
  width: 47%;
}

.courtyard .__seccion-dos-columnas .__columna .__h3 {
  font-weight: normal;
  margin: 0;
}

.courtyard .__seccion-dos-columnas .__columna p {
  margin-top: 8px;
}

@media (max-width: 700px) {
  .courtyard > .__seccion-dos-columnas .__columna {
    width: 100%;
  }
}

/* ============================================
QUOTES
============================================ */
.courtyard .__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 7px;
  padding: 25px;
  margin-bottom: 25px;
}

.courtyard .__quote p {
  width: 85%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.courtyard .__quote.__alerta {
  background-color: red;
}

.courtyard .__quote.__alerta::before {
  content: '';
  opacity: .5;
  display: block;
  width: 15%;
  min-height: 70px;
  margin-right: 25px;
  background-image: url("../img/icon-alert.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.courtyard .__quote.__ok {
  background-color: green;
}

.courtyard .__quote.__ok::before {
  content: '';
  opacity: .5;
  display: block;
  width: 15%;
  min-height: 70px;
  margin-right: 25px;
  background-image: url("../img/icon-check.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.courtyard .__quote.__cita {
  background-color: blueviolet;
}

.courtyard .__quote.__cita::before {
  content: '';
  opacity: .5;
  display: block;
  width: 15%;
  min-height: 70px;
  margin-right: 25px;
  background-image: url("../img/icon-quotes.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.courtyard .__quote.__info {
  background-color: blue;
}

.courtyard .__quote.__info::before {
  content: '';
  opacity: .5;
  display: block;
  width: 15%;
  min-height: 70px;
  margin-right: 25px;
  background-image: url("../img/icon-info.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 550px) {
  .courtyard .__quote {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .courtyard .__quote p {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */